.textField{
    height: 32px;
    width: 200px;
    border: 1px solid gray;
    padding: 0 32px 0 16px;
    border-radius: 5%;
}
.textField:hover {
    cursor: pointer;
}


.barraBusqueda{
    float: right;
    padding: 20px;
}

.table-responsive{
    padding: 5%;
}
